<div class="modal" >
    <h2 class="subtitle">Thanks, we'll talk to you soon!</h2>
    <div class="contactInfo-Holder">
        <div class="contactInfo-Centered">
            <div class="textRow">
                <div class="holder dot"></div>
                <h3 class="holder subtitle_grey">{{contactToDisplay?.name ?? ""}}</h3>
            </div>
            <div class="textRow">
                <div class="holder dot"></div>
                <h3 class="holder subtitle_grey">{{contactToDisplay?.email ?? ""}}</h3>
            </div>
            <div class="textRow">
                <div class="holder dot"></div>
                <h3 class="holder subtitle_grey">{{contactToDisplay?.phoneNumber ?? ""}}</h3>
            </div>
            <div class="textRow">
                <div class="holder dot"></div>
                <h3 class="holder subtitle_grey">{{contactToDisplay?.companyName ?? ""}}</h3>
            </div>
            <div class="textRow">
                <div class="holder dot"></div>
                <h3 class="holder subtitle_grey">{{contactToDisplay?.typeOfBusiness ?? ""}}</h3>
            </div>
        </div>
    </div>
</div>