<div class="question-holder">
    <h2 class="subtitle">How can we help?</h2>
    <h2 class="title question-mark">?</h2>
</div>

<form class="input-grid" (ngSubmit)="onSubmit()">
    <div class="input wide req"> 
        <input id="name" name="name" class="input-box" type="text" placeholder="Name" [(ngModel)]="name">
    </div>  
    <div class="input"> 
        <input id="email" name="email" class="input-box" type="text" placeholder="Email" [(ngModel)]="email">
    </div>  
    <div class="input"> 
        <input id="phoneNumber" name="phoneNumber" class="input-box" type="text" placeholder="Phone Number" [(ngModel)]="phoneNumber" (input)="FormatPhoneNumber()" maxlength="14">
    </div>  
    <div class="input"> 
        <input id="companyName" name="companyName" class="input-box" type="text" placeholder="Company Name" [(ngModel)]="companyName">
    </div>  
    <div class="input"> 
        <input id="typeOfBusiness" name="typeOfBusiness" class="input-box" type="text" placeholder="Type of Business" [(ngModel)]="typeOfBusiness">
    </div>  
    <app-button type="submit" class="button" color="steelblue" text="GET IN TOUCH"></app-button>
</form>

